@import url("https://fonts.googleapis.com/css?family=Raleway");

/*main background part*/
body{
  font: 15px/1.5 'Raleway';
  padding:0;
  margin:0;
  background: #f3f8ff;
}
/*scrolling*/
html {
  scroll-behavior: smooth;
}
/*upper border part*/
header{
  font: 20px/1.5 'Raleway'; 
  background: #00a8cc;
  color: #ffffff;  
  padding-top: 30px; 
  min-height: 55px; 
  border-bottom: #00a8cc 6px solid;
}

/*home about contact us*/
header a{
  color:#ffffff;  
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px; /*home about size*/
}

header li{
  display:inline;
  padding: 0 20px 0 20px; /*dist bet home about*/
}

header #branding{
  float:center; /*home...position*/
}

header #branding h1{
  margin:0;
  font-weight:bolder;
}

header nav{
  float:right;
  margin-top:-55px;
}

header .highlight, header .current a{
  color:#fff;
  font-weight:bold;
  font-size: 25px; /*home size*/
}

.highlighted{
  font-weight:bolder;
}

/*underline animation*/
header a {        
  position: relative;
}

header a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 60%;
  height: 1px;
  opacity: 0;
  background-color: #a2d5f2;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}

header a:hover::after {
  width: 100%;
  opacity: 1;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.heading {
  
  padding: 230px; 
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../pro/getty.png.jpg") ; 
  margin-top: 50px
  background-repeat: no-repeat;
  color: white;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-weight:300;
  line-height: 1.2;
}
.ngo{
	margin-top: 100px;
  white-space: nowrap;
  margin-left: 100px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 60px;
  background: #7fdbda;
  float: right;
  margin: 8px 0 0 20px;
  padding: 4px;
 
 }
h7{
	text-align: center;
  font-size: 50px;
}
 
.place{
	margin-left: 45% ;

}
.left{
	margin-left: 45% ;
}

.fourth{
	margin-left: 55%;
}

.history{
	text-align: center;
	background-color: #00a8cc;
  font-size: 50px;
	
	font-weight:bold;
	border-radius: 15px 15px 15px 15px;
}


.left{
	margin-left: 50%;
}



.regform{
	width: 100%;
	height: 500px;
  background-color: rgb(0,0,0,0.8);
	margin:auto;
	color: #ffffff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
   }
.main{
  margin-left: 680px;
  text-align:left;
  font-size: 20px;
}




/*SUBSCRIBE*/
#bottom {  /*mail button*/
    padding: 15px; /*blue border size*/
    color: #ffffff;
    background: #00a8cc;
    border-top: #00a8cc 3px solid;
    min-height: 70px;
    font-family: "Raleway";
}

#bottom h1{
  float:left;
  color: #fff;
  font-size: 28px;
   font-weight: 595;
}

#bottom form {
  float:center;
  
}

#bottom input[type="email"]{
  padding:4px;
  height: 25px;
  width:250px;
  padding: 6px 10px;
  font-family: "Raleway";
  background: #00a8cc;
  border: solid 2px #fff;
  color: #fff;
}

#bottom input[type="email"]:hover{
  background-color: #fff;
  color: #00a8cc;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

#bottom input[type="email"]:hover::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00a8cc;
  opacity: 1; /* Firefox */
}

#bottom input[type="email"]:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#bottom input[type="email"]:hover::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.button_1 { /*subscribe button*/
    font-family: "Raleway";
    height: 41px;
    background: #00a8cc;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    border-radius: 50px;
    border: solid 2px #fff;
}

.button_1:hover{
  background-color: #fff;
  color: #000;
}

#bottomcontainer {
    padding: 15px;
    color: #ffffff;
    background: #000;
    border-top: #000 3px solid;
    min-height: 70px;
    font-family: "Raleway";
}

.bottomcontainer{
  width: 80%;
  margin: auto;
}

#bottomcontainer h1{
  float:left;
  margin-left: 100px;
}

#bottomcontainer form {
  float:right;
  margin-top:15px;
  margin-right: 100px;
}


#frames{
  text-align: center;
  padding:15px 0px;
  color: #000;  /*text heading*/
  min-height:50px;
  background: #f3f8ff;  /* category part */
  font-family: "Raleway";
}

#frames p{
  font-size: 36px;  /*title size*/
  font-weight: bold; 
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.story {
    min-height: 340px; /*box height */
    display: inline-block;
    width: 31%; /*to keep them in vertical or hori format*/
    position: relative;
    margin: 5px 10px; /*distance between title n boxes*/
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
    -webkit-transition: all .5s cubic-bezier(.25,.8,.25,1);
    transition: all .5s cubic-bezier(.25,.8,.25,1);
}


element.style {
    width: 100%;
    height: 225px;
    object-fit: cover;
}
.slick-slide img {
    display: block;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.storyDetail {
    padding: 20px 20px 0px; /*3 boxes in same line*/
}

.storyName {
    color: #51505d;
    font-size: 30px; /*masks sani...*/
    line-height: 35px; /*dist between mask n tagline*/
    padding: 0 0 15px; /* || */
}

.storyInfo {
    font-size: 23px;  /*masks n all ka description*/
    font-weight: 300;
    color: #000;
}

#title1{
  border-width: 100px;
  border-top:100px solid; 
  background: #00bcd4;
  color: #f3f8ff;
  font-size: 15px;
  font-weight: 300;
}

#title2{
  background: #f3f8ff;
  color: #000;
  font-size: 14px;
   font-weight: 300;
}

#title3{
  background: #f3f8ff;
  color: #000;
  font-size: 20px;
   font-weight: 300;
}

#title4{
  background: #d7fffd;
  color: #000;
  font-size: 12px;
  font-weight: 200;
  border-bottom: 100px;
}

#title5{
  background: #00bcd4;
  color: #f3f8ff;
  font-size: 15px;
  font-weight: 200;
  border-top:100px solid;
}

#info{
  background: #d7fffd;
  color: #000;
  font-size: 12px;
   font-weight: 200;
}
 


.icons {
  margin-top: 25px;
}
.icons a {
  display: inline-block;
  width: 32px;
  height: 35px;
  cursor: pointer;
  background: #00a8cc;
  background-color:#00a8cc;
  border-radius: 50px;
  border: 1px solid #fff;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px; /*dist bet icons*/
  margin-bottom: 5px;
}




h2 {
  text-align: left;
}
h3 {
  text-align: left;
}
h4{
   text-align:center;
}
h5{
   text-align: center;
}
h6{
   text-align:center;
}
