@import url("https://fonts.googleapis.com/css?family=Raleway");

/*main background part*/
body{
  font: 15px/1.5 'Raleway';
  padding:0;
  margin:0;
  background: #00a8cc;
}
/*scrolling*/
html {
  scroll-behavior: smooth;
}
/*upper border part*/
header{
  font: 20px/1.5 'Raleway'; /*go corona size*/
  background: #00a8cc;
  color: #ffffff;  /*go corona*/
  padding-top: 30px; /*upper border upper height*/
  min-height: 73.6px; /*upper border bottom height*/
  border-bottom: #00a8cc 6px solid;
}

/*home about contact us*/
header a{
  color:#ffffff;  
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px; /*home about size*/
}

header li{
  display:inline;
  padding: 0 20px 0 20px; /*dist bet home about*/
}

header #branding{
  float:center; /*home...position*/
}

header #branding h1{
  margin:0;
  font-weight:bolder;
}

header nav{
  float:right;
  margin-top:-62px;
}

header .highlight, header .current a{
  color:#fff;
  font-weight:bold;
  font-size: 30px; /*home size*/
}

.highlighted{
  font-weight:bolder;
}

/*underline animation*/
header a {        
  position: relative;
}

header a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 60%;
  height: 1px;
  opacity: 0;
  background-color: #a2d5f2;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}

header a:hover::after {
  width: 100%;
  opacity: 1;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}


.icons {
  margin-top: 25px;
}
.icons a {
  display: inline-block;
  width: 32px;
  height: 35px;
  cursor: pointer;
  background: #00a8cc;
  background-color:#00a8cc;
  border-radius: 50px;
  border: 1px solid #fff;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px; /*dist bet icons*/
  margin-bottom: 5px;
}

/*SUBSCRIBE*/
#bottom {  /*mail button*/
    padding: 15px; /*blue border size*/
    color: #ffffff;
    background: #00a8cc;
    border-top: #00a8cc 3px solid;
    min-height: 70px;
    font-family: "Raleway";
}

#bottom h1{
  float:left;
  color: #fff;
  font-size: 28px;
   font-weight: 595;
}

#bottom form {
  float:center;
  
}

#bottom input[type="email"]{
  padding:4px;
  height: 25px;
  width:250px;
  padding: 6px 10px;
  font-family: "Raleway";
  background: #00a8cc;
  border: solid 2px #fff;
  color: #fff;
}

#bottom input[type="email"]:hover{
  background-color: #fff;
  color: #00a8cc;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

#bottom input[type="email"]:hover::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00a8cc;
  opacity: 1; /* Firefox */
}

#bottom input[type="email"]:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#bottom input[type="email"]:hover::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.button_1 { /*subscribe button*/
    font-family: "Raleway";
    height: 41px;
    background: #00a8cc;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    border-radius: 50px;
    border: solid 2px #fff;
}

.button_1:hover{
  background-color: #fff;
  color: #000;
}

#bottomcontainer {
    padding: 15px;
    color: #ffffff;
    background: #000;
    border-top: #000 3px solid;
    min-height: 70px;
    font-family: "Raleway";
}

.bottomcontainer{
  width: 80%;
  margin: auto;
}

#bottomcontainer h1{
  float:left;
  margin-left: 100px;
}

#bottomcontainer form {
  float:right;
  margin-top:15px;
  margin-right: 100px;
}

.details1{
  background-color: #0278ae;
  text-align:left;
  font-size:15px;
  
  padding:0;
}

.img1{
  margin-top:3%;
  float:left;
  margin-left:30px;
  margin-right:40px;
}

.post1{
  display:inline;
  color:#000;
  text-align:left;  
  font-weight:500;
  font-size:20px;
  word-spacing:2px;
  margin-right:3%;
}

.details2{
  background-color: #0a97b0;
  text-align:left;
  font-size:15px;
  margin-top: :-30px;
  padding:0;
}

.img2{
  margin-top:3%;
  float:right;
  margin-left:30px;
  margin-right:40px;
}

.post2{
  display:inline;
  color:#000;
  text-align:left;  
  font-weight:500;
  font-size:20px;
  word-spacing:2px;
  margin-right:3%;
}

.details3{
  background-color: #00bcd4;
  text-align:left;
  font-size:15px;
  }

.img3{
  margin-top:3%;
  float:left;
  margin-left:30px;
  margin-right:40px;
}

.post3{
  display:inline;
  color:#000;
  text-align:left;  
  font-weight:500;
  font-size:20px;
  word-spacing:2px;
  margin-right:3%;
}

.details4{
  background-color: #5fdde5;
  text-align:left;
  font-size:15px;
}

.img4{
  margin-top:3%;
  float:right;
  margin-left:30px;
  margin-right:40px;
}

.post4{
  display:inline;
  color:#000;
  text-align:left;  
  font-weight:500;
  font-size:20px;
  word-spacing:2px;
  margin-right:3%;
}


